<div>
	<b>{{me.name}}</b>


	<br><br><br><br>
</div>


<div ng-if='!connected'>
	<input type='text' ng-model='playerName' placeholder='Name'></input> 
<button class='btn btn-primary' ng-click='login(playerName)'>Log in </button>
</div>



<table class='table table-hover' ng-if='connected'>

    <thead>
    <tr>
        <th>Player</th>
        <th>Level</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Gold</th>     
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players | orderBy: 'level'"> 
      	<td> {{player.name }}</td>
      	<td> {{player.level }}</td>
      	<td> {{player.hp }}</td>
      	<td> {{player.atk }}</td>
      	<td> {{player.gold }}</td>
        <td><button class="btn btn-danger" ng-click='attackPlayer(player)'>Attack!</button></td>
      </tr> 
    </tbody>
</table>